<p>Hello!</p>

<rl-textfield label="Testing"></rl-textfield>

<rl-list [items]="listItems"></rl-list>
<srl-list
  [listItems]="listItems"
  [open]="srlListOpen"
  (openChange)="srlListToggle($event)"
></srl-list>

<wc-nx-temp (something)="handleSomething($event)"></wc-nx-temp>

<rl-disclosure> <img src="/assets/tree.png" /> </rl-disclosure>

<hr />

<rl-search
  [searchTerm]="searchTerm"
  (searchTermChange)="handleSearchTermChange($event)"
></rl-search>
<span>some stuff next to it</span>

<hr />

<div [style.width.px]="300">
  <rl-accordion>
    <rl-accordion-panel label="Step 1"
      >Do a <a href="#">thing</a></rl-accordion-panel
    >
    <rl-accordion-panel #lazy label="Step 2">
      <ng-container *ngIf="lazy.expanded">
        Do a different thing (lazily)
      </ng-container>
    </rl-accordion-panel>
    <rl-accordion-panel label="Step 3">
      <ng-container>Do a third thing</ng-container>
    </rl-accordion-panel>
    <rl-accordion-panel label="Step 4">
      <ng-container>Do a final thing</ng-container>
    </rl-accordion-panel>
  </rl-accordion>
</div>

<rl-combobox (filterValueChange)="filter($event)">
  <option *ngFor="let opt of filteredOptions" [value]="opt.value">
    {{ opt.label }}
  </option>
</rl-combobox>

<frl-hello [name]="name"></frl-hello>

<frl-button (click)="showDialog = true">Click me!</frl-button>

<div>
  {{ dialogInputValue }}
</div>

<frl-dialog
  modal
  trap-focus
  [hidden]="!showDialog"
  (dismiss)="showDialog = false"
>
  <div [style.padding.px]="8">
    <h3>some dialog content</h3>
    <frl-text-field
      type="text"
      minlength="4"
      required
      [(ngModel)]="dialogInputValue"
      ngDefaultControl
    >
      Type something
      <i slot="end">test</i>
    </frl-text-field>
    <div>{{ dialogInputValue }}</div>
    <frl-button (click)="showDialog = false">close</frl-button>
  </div>
</frl-dialog>

<frl-line-limit [style.width.px]="200" limit="3">
  Lorem ipsum dolor sit amet consectetur
  <b>adipisicing elit Asperiores</b> omnis dolore architecto, nisi soluta
  similique tenetur adipisci cum eum est quae ea exercitationem reiciendis. Hic,
  perspiciatis esse. Amet, illum sunt?
</frl-line-limit>
